= fields_for "#{form_object}", truck do |f|
  .note
    .row.driver-box__bgtruck
      .col-sm-3
        = truck_select_tag(f)
      .col-sm-2
        = driver_select_tag(f)
    - clients.each do |client|
      .row.driver-box__bgtruck_withoutborder
        .col-sm-3
          = client_select_tag(client)
        - if client.fraktnr
          .col-sm-1
            = fraktnr_text_tag(f, client.inputs.fraktnr, client_identificator)
        -if client.points
          .col-sm-2
            = points_select_tag(f, client, client_identificator)
        - client.inputs.without_default.each do |input|
          .col-sm-1
            = sipmle_input_value_tag(f, input, client_identificator)
        = komment_field_tag(f, client, client_identificator)
        - if any_client_input_values_persist?(client)
          .col-sm-1.form-box__delete_right
            = destroy
        - else
          .col-sm-1.form-box__delete_right
            = remove_new_row
      - (used_clients << client.id)
    - if ::Client.where.not(id: used_clients).present?
      .row.driver-box__bgtruck_withoutborder
        .col-sm-3
          = select_for_new_client_tag
    .row.form-control__border_white
