= fields_for "#{form_object}", truck do |f|
  .note
    .row.driver-box__bgtruck
      .col-sm-3
        = truck_select_tag(f)
      .col-sm-2
        = driver_select_tag(f)
    - clients.each do |client|
      .row.driver-box__bgtruck_withoutborder
        .col-sm-3
          = client_select_tag(client)
        - client.inputs.each_with_index do |input|
          - indent = client_identificator # set new client identificator
          - if input.name == I18n.t('client.form.fraktnr_low_case') && client.fraktnr
            .col-sm-1
              = fraktnr_text_tag(f, input, indent)
          - elsif input.name == I18n.t('client.form.points_for_form') && client.points
            .col-sm-2
              = points_select_tag(input, indent)
          - elsif (input.name != I18n.t('client.form.fraktnr_low_case')) && (input.name != I18n.t('client.form.points_for_form'))
            .col-sm-1
              = sipmle_input_value_tag(f, input, indent)
          - if input_value_exist?(f, input)
            = input_value_hidden_id_tag(f, input, indent)
          = input_id_hidden_tag(input, indent)
      - (used_clients << client.id)
    - if ::Client.where.not(id: used_clients).present?
      .row.driver-box__bgtruck_withoutborder
        .col-sm-3
          = select_for_new_client_tag
    .row.form-control__border_white
