%tr.driver-box__bgtruck
  %td.driver-box__td
    = fields_for("drivers[#{new_key}]", model) do |ff|
      = ff.text_field :full_name, class: 'driver-box__input driver-box__text', placeholder: I18n.t('driver.form.input.placeholder'), autofocus: true
      = driver_id_field(ff)
  %td
    = destroy
