= fields_for "#{params[:form_object]}[input_values_attributes][#{index}]", client_value  do |ff|
  = ff.text_field :value, class: 'driver-box__input driver-box__text driver-box__input_mini', placeholder: "#{model.name}"
