= navbar
.container
  = new_client_fields_with_inputs_link
  = new_client_select_notes_link
  = form_tag update_collection_notes_path, id: 'js-main-form', multipart: true do
    .js-form-start-label
      = show_notes
