= fields_for("notes[#{form_identifier}]", model) do |ff|
  %tr.form-box
    %td
      = ff.select(:truck_id, form_select_trucks, {}, class: 'form-control form-box__select form-box__select_blue')
      = ff.select(:truck_driver_id, form_select_drivers, {}, class: 'form-control form-box__select form-box__select_blue')
    %td
      = link_to image_tag('delete_row.png'), '', id: 'js-clean-field'
  %tr.form-box__child
    = ff.hidden_field(:id, value: note_id)
    = render view: 'client_fields', locals: {ff: ff}
  %tr.form-box__footer
